<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <!-- Contenedor de la tarjeta -->
        <div class="card-header bg-transparent">
          <h3 class="mb-0" *ngIf="mode == 1">Detalle</h3>
          <!-- Título dinámico según el modo -->
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <!-- Título dinámico según el modo -->
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
          <!-- Título dinámico según el modo -->
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="theFormGroup">
            <!-- Formulario reactivo vinculado al FormGroup -->
            <div class="card-body container">
              <div class="row">
                <div class="col-3">ID</div>
                <!-- Etiqueta del campo ID -->
                <div class="col-9">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="id"
                    disabled
                  />
                  <!-- Campo ID siempre deshabilitado -->
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-3">Ubicación</div>
                <!-- Etiqueta del campo Ubicación -->
                <div class="col-9">
                  <input
                    type="text"
                    class="form-control"
                    [disabled]="mode == 1"
                    formControlName="location"
                  />
                  // Campo Ubicación deshabilitado en modo visualización

                  <div
                    *ngIf="
                      getTheFormGroup.location.errors &&
                      (getTheFormGroup.location.dirty ||
                        getTheFormGroup.location.touched ||
                        trySend)
                    "
                  >
                    <!-- Mostrar errores si existen y el campo ha sido modificado, tocado o se ha intentado enviar -->
                    <strong
                      *ngIf="getTheFormGroup.location.errors.required"
                      class="msnError"
                      >Requerido</strong
                    >
                    <!-- Mensaje de error si es requerido -->
                    <strong
                      *ngIf="getTheFormGroup.location.errors.minlength"
                      class="msnError"
                      >Inválido
                      <!-- Mensaje de error si no cumple la longitud mínima -->
                    </strong>
                  </div>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-3">Capacidad</div>
                <div class="col-9">
                  <input
                    type="number"
                    class="form-control"
                    [disabled]="mode == 1"
                    formControlName="capacity"
                  />

                  <div
                    *ngIf="
                      getTheFormGroup.capacity.errors &&
                      (getTheFormGroup.capacity.dirty ||
                        getTheFormGroup.capacity.touched ||
                        trySend)
                    "
                  >
                    <strong
                      *ngIf="getTheFormGroup.capacity.errors.min"
                      class="msnError"
                      >Valor mínimo debe ser 1</strong
                    >
                    <strong
                      *ngIf="getTheFormGroup.capacity.errors.max"
                      class="msnError"
                      >Valor máximo 100
                    </strong>
                    <strong
                      *ngIf="getTheFormGroup.capacity.errors.required"
                      class="msnError"
                      >Requerido</strong
                    >
                  </div>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-3"></div>
                <div class="col-9">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="back()"
                    *ngIf="mode == 1"
                  >
                    Regresar
                  </button>
                  <!-- Botón Regresar en modo visualización -->
                  <button
                    type="button"
                    class="btn btn-success btn-block"
                    (click)="create()"
                    *ngIf="mode == 2"
                  >
                    Crear
                  </button>
                  <!-- Botón Crear en modo creación -->
                  <button
                    type="button"
                    class="btn btn-warning btn-block"
                    (click)="update()"
                    *ngIf="mode == 3"
                  >
                    Actualizar
                  </button>
                  <!-- Botón Actualizar en modo actualización -->
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
