.badge-info { background-color: #11cdef; }
.badge-warning { background-color: #fb6340; }
.badge-success { background-color: #2dce89; }
.badge-danger { background-color: #f5365c; }
.badge-secondary { background-color: #8898aa; }

.card { border-radius: .5rem; }
