/* Minimal global styles to satisfy angular.json reference. */
@import './assets/scss/argon.scss';

html, body, app-root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
